.all-style {
  padding: 10px;
}

.header-title {
  width: 80%;
  height: 30px;
  margin: auto;
  padding: 10px;
  border: 1px solid #58ACFA;
  line-height: 30px;
  color: #58ACFA;;
  font-weight: bolder;
}

.header-input {
  width: 80%;
  height: 50px;
  margin: auto;
  padding: 10px;
  line-height: 50px;
  background-color: #58ACFA;
  border-radius: 10px;
  color: white;
  font-size: small;
  font-weight: bold;
}

.header-addButton {
  width: 100px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #58ACFA;;
  font-weight: bold;
}

.body-style {
  width: 80%;
  margin: auto;
}

.body-cards {
  width: 300px;
  height: 250px;
  border: 3px solid #0B2161;
  border-radius: 10px;
  padding: 10px;
}